<form id="frmDeleteFile{{ f.id }}" method="post" action="{{ path('fitxategia_delete', {'id': f.id, 'kontratuid': kontratua.id }) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ f.id) }}">
    <button data-token="{{ csrf_token('delete' ~ f.id) }}" data-frm="frmDeleteFile{{ f.id }}" data-fitxategiid="{{ f.id }}" data-kontratuaid=""{{ kontratua.id}}  class="btnDeleteFileButton btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
</form>
