{% extends 'base.html.twig' %}

{% block title %}Fitxategiak{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Fitxategiak</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Fitxategiak</h3>
                    <div class="card-tools">
{#                        <a class="btn btn-outline-primary" href="{{ path('fitxategia_new') }}">Fitxategi berria</a>#}
                    </div>
                </div>
                <div class="card-body">
                    <table id="myDatatable" class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ "Izena" | trans}}</th>
                            <th class="text-center">{{ "Actions" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fitxategia in fitxategias %}
                            <tr>
                                <td>{{ fitxategia.id }}</td>
                                <td>{{ fitxategia.name }}</td>
                                <td class="text-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="btn btn-xs btn-primary" href="{{ path('fitxategia_edit', {'id': fitxategia.id}) }}"><i class="fas fa-edit"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            {{ include('fitxategia/_delete_form.html.twig') }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="card-footer"></div>

            </div>
        </div>
    </div>
{% endblock %}
