{% extends 'base.html.twig' %}

{% block title %}Kontratuak{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Kontratuak</li>
    <li class="breadcrumb-item active">berria</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card card-gray collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-search"></i>&nbsp;Bilatu</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {% include '_finder.html.twig' %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kontratuak alfabetikoki</h3>
                <div class="card-tools">
                    <a class="btn btn-outline-primary" href="{{ path('kontratua_abisuak') }}">Abisuak</a>
                    <a class="btn btn-outline-primary" href="{{ path('home') }}">Iraungitze fetxa gertuen dunetak</a>
                    <a class="btn btn-outline-primary" href="{{ path('kontratua_new') }}">Kontratu berria</a>
                </div>
            </div>
            <div class="card-body">
                <table id="myDatatable3" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>{{ "Espedientea" | trans}}</th>
                            <th>{{ "Lote" | trans}}</th>
                            <th>{{ "Egoera" | trans}}</th>
                            <th>{{ "Kontratista" | trans}}</th>
                            <th>{{ "Mota" | trans }}</th>
                            <th>{{ "Sinadura" | trans}}</th>
                            <th>{{ "Iraupena" | trans}}</th>
                            <th>{{ "Amaitua" | trans}}</th>
                            <th>{{ "Luzapena" | trans}}</th>
                            <th>{{ "actions" | trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lote in loteak %}
                        <tr>
                            <td><a href="{{ path('kontratua_edit', { 'id': lote.kontratua.id }) }}">{{ lote.kontratua.espedientea }} - {{ lote.kontratua.izenaEus }}</a></td>
                            <td>{{ lote.name }}</td>
                            <td>{{ lote.kontratua.egoera }}</td>
                            <td>{{ lote.kontratista }}</td>
                            <td>{{ lote.kontratua.mota }}</td>
                            <td class="text-center">{{ lote.sinadura ? lote.sinadura|date('Y-m-d') : '' }}</td>
                            <td>{{ lote.iraupena }}</td>
                            <td>{% if lote.amaitua %}<span class="badge badge-success">Bai</span>{% else %}<span class="badge badge-danger">Ez</span>{% endif %}</td>
                            <td>{{ lote.luzapena }}</td>
                            <td class="text-center">
                                <a href="{{ path('kontratua_edit', {'id': lote.kontratua.id}) }}"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>

        </div>
    </div>
</div>
{% endblock %}
