{% extends 'base.html.twig' %}

{% block title %}{{ "Alarma" | trans}}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">{{ "Alarma" | trans}}</li>
    <li class="breadcrumb-item active">editatzen</li>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "Alarma editatzen" | trans}}</h3>
                    <div class="card-tools">
                        <a class="btn" href="{{ path('notification_index') }}">{{ "back to list" | trans}}</a>
                        <button id="btnSaveButton" class="btn btn-primary">Gorde</button>
                    </div>
                </div>
                <div class="card-body">

                    {{ include('notification/_form.html.twig') }}

                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>
    </div>
{% endblock %}
