{% extends 'base.html.twig' %}

{% block title %}Motak{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Motak</li>
    <li class="breadcrumb-item active">berria</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Motak</h3>
                    <div class="card-tools">
                        <a class="btn btn-outline-primary" href="{{ path('mota_new') }}">Mota berria</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="myDatatable" class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ "Mota_eus" | trans}}</th>
                            <th>{{ "Mota_es" | trans}}</th>
                            <th class="text-center">{{ "Actions" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for motum in motas %}
                            <tr>
                                <td>{{ motum.id }}</td>
                                <td>{{ motum.motaEus }}</td>
                                <td>{{ motum.motaEs }}</td>
                                <td class="text-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="btn btn-xs btn-primary" href="{{ path('mota_edit', {'id': motum.id}) }}"><i class="fas fa-edit"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            {{ include('mota/_delete_form.html.twig') }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">{{ "no records found" | trans}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="card-footer"></div>

            </div>
        </div>
    </div>
{% endblock %}
